
	
<!-- <div *ngIf="isHomeRoute; else elseBlock"> -->

  <div class="footerSec">
  <div class="wrapper">
  <div class="col-sm-6 float-left">
    <h3>Quick Link</h3>
    <ul>
    <!-- <li><a [routerLink]="['/home']">Home</a></li> -->
    <li><a (click)="gotoPage('/aboutus')">About Us</a></li>
    <li><a (click)="gotoPage('/terms-condition')">Terms Of Condition</a></li>
    <li><a (click)="gotoPage('/privacypolicy')">Privacy Policy</a></li>
    <li><a href="https://www.mysoulmate.co.in/blog" target="_blank">Blog</a></li>
    <!-- <li><a >Blog</a></li> -->
    <!-- <li><a href="#">Success stories</a></li> -->
    <!-- <li><a href="#">Sitemap</a></li> -->
    <!-- app-store-google.svg -->
    </ul>
    <a data-baseweb="link" href="https://play.google.com/store/apps/details?id=mysoulmate.co.in&pli=1" aria-label="Google" target="_self" class="goole_App_Icon" data-uclick-id="d2aecb3a-5c68-47fd-9ba4-88e31337c81e">
      <img src="assets/images/app-store-google.svg" alt="Download the Uber app for Android" role="presentation" aria-hidden="true">
    </a>
  </div>
  
  <div class="col-sm-6 float-left">
    <h3 class="alignCus_right">Follow Us</h3>
    <ul class="socialMedia">
      <!-- +91 6289 378 340 -->
    <li><a aria-label="Chat on WhatsApp" href="https://wa.link/p1wp7n" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>  </li>
    <li><a href="https://www.facebook.com/visitmysoulmate/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
    <li><a href="https://youtube.com/@SHAAMBHAVIASTRO?si=E42VMKrSDNPfoh1x" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
    <!-- <li><a [routerLink]="['/']"><i class="fa fa-instagram" aria-hidden="true"></i> </a></li> -->
    </ul>
  </div>

  </div>
  </div>
    
  <div class="footerCopyright">
    <div class="wrapper">
      <div class="col-sm-6 float-left copyright_txt">
    All rights reserved © 2023-24 My Soul Mate
  </div>
  <div class="col-sm-6 float-left botAddress">
    <ul>
      <!-- <li>  <a href="tel:8276998997"><i class="fa fa-phone" aria-hidden="true"></i> 8276998997</a> </li> -->
      <li> <a href="mailto:info@mysoulmate.co.in"><i class="fa fa-envelope" aria-hidden="true"></i> info@mysoulmate.co.in</a></li>
    </ul>
  </div>
  </div>
    </div>

<!-- </div> -->

  <!-- <ng-template #elseBlock>
    <div class="footerSec">
      <div class="wrapper">
      <div class="col-sm-6 float-left">
        <h3>Quick Link</h3>
        <ul>
        <li><a (click)="gotoPage('/aboutus')">About Us</a></li>
        <li><a (click)="gotoPage('/terms-condition')">Terms Of Condition</a></li>
        <li><a (click)="gotoPage('/privacypolicy')">Privacy Policy</a></li>
        </ul>
      </div>
      
      <div class="col-sm-6 float-left">
        <h3 class="alignCus_right">Follow Us</h3>
        <ul class="socialMedia">
        <li><a aria-label="Chat on WhatsApp" href="https://wa.link/p1wp7n" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>  </li>
        <li><a href="https://www.facebook.com/visitmysoulmate/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
        <li><a href="https://youtube.com/@SHAAMBHAVIASTRO?si=E42VMKrSDNPfoh1x" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    
      </div>
      </div>
        
      <div class="footerCopyright">
        <div class="wrapper">
          <div class="col-sm-6 float-left copyright_txt">
        All rights reserved © 2023-24 My Soul Mate
      </div>
      <div class="col-sm-6 float-left botAddress">
        <ul>
          <li> <a href="mailto:info@mysoulmate.co.in"><i class="fa fa-envelope" aria-hidden="true"></i> info@mysoulmate.co.in</a></li>
        </ul>
      </div>
      </div>
        </div>
  </ng-template> -->