

<!-- <ngx-spinner bdColor = "rgba(212, 44, 61, 1)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
    <span class="loader__home smallLoader"></span>
    <p style="color: white" > Loading... </p>
</ngx-spinner> -->


<router-outlet></router-outlet>

<div *ngIf="isHomeRoute;">
<app-footer></app-footer>
</div>


<!-- Chatbot Start -->

<!-- <a (click)="maximize()" class="maxmizCls" [hidden]="maxShoHid">
    <span>&nbsp;</span>
    <img src="assets/images/logo_new.png" alt=""/>  </a> 

<div class="chatBot" id="chatBot_Id">
    <div class="title">
        <div class="imgChat">
            <span></span>
            <img src="assets/images/logo_new.png" alt=""/></div>  
        <h2>Hi! This is Esha
          <span> How can I help you today?</span>
        </h2>
        <a (click)="minimize()" class="minimizCls"><i class="fa fa-times" aria-hidden="true"></i></a>
    </div>
    <iframe src="https://my-soulmate-de92e53dc165.herokuapp.com/" width="100%" height="100%" [hidden]="ifreameShoHid"></iframe> 
  </div> -->

  <!-- Chatbot End -->



