
<app-after_login_header_Global  [isVisible]="isVisible" [accountType]="accTypeAftPay"></app-after_login_header_Global>

<div class="innerMain_wraper" [ngClass]="pageNameCheck__ == 'dashboard' ? 'innerMain_wraper_dashboard' : pageNameCheck__ == 'idVerification' ? 'idVerify_wraper' : pageNameCheck__ == 'settings' ? 'settings_wraper' : pageNameCheck__ == 'editeprofile' ? 'innerMain_wraper_ProfileEdit' : pageNameCheck__ == 'wishlist' ? 'idVerify_wraper' : pageNameCheck__ == 'partnersPref' ? 'partner_wraper' : ''">
<div class="wrapper">

<ng-container *ngIf="sidebarCheck == undefined">
<app-leftBar_after_login></app-leftBar_after_login>
</ng-container>


<router-outlet></router-outlet>

</div>
</div>
